body, html{ padding: 0; margin: 0; width: 100%; height: 100%; }

body{
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.hide{ display: none !important; }

#viewer{
  outline: 3px solid rgba(0, 0, 0, 0.1);
  border: 1px solid #d4d4d4;
  background: white;
  width: 800px;
  display: flex;
}

#left-viewer{
  width: 270px;
  border-right: 1px solid #d4d4d4;
}

.current_hex{
  background: #296ec5 !important;
  color: white !important;
}

#right-viewer{
    flex: 1;
}

#load-memory{
  line-height: 0;
  background: #0070ff;
  width: 100%;
  padding: 25px 0px;
  border: 0;
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#load-memory:hover{
  background: #1469d8;
}

#hex-viewer{
  margin: 0px 10px;
  height: 500px;
  overflow-x: hidden;
  border: 1px solid #d4d4d4;
}

/* Buttons */
#buttons{
  margin: 10px 10px;
  display: flex;
}

#buttons > *{
  flex: 1;
}

#buttons > button{
  border: 1px solid #d4d4d4;
  background: #f3f3f3;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}

#number_skip{
  box-shadow: 3px 3px 0px #d4d4d4 inset;
  width: 55px;
  border: 1px solid #d4d4d4;
  background: white;
  border-radius: 3px;
  padding: 0 0 0 10px;
}

#play{
  padding: 10px 15px 10px 8px !important;
  margin: 0px 10px;
}

.stop:before { content: '\e802' !important; }

#buttons > button:hover{
  background-color: #e2e2e2;
}

.rows, #hex-header{
  display: flex;
  border-bottom: 1px solid #d4d4d4;
  background: #f3f3f3;
}

.rows > .offset, #hex-header > div:nth-of-type(1){
  width: 55px;
  line-height: 0;
  padding: 15px 0px;
  text-align: center;
  font-size: 13px;
  color: #404040;
  font-weight: bold;
}

.rows > .offset{
  color: white;
  border-right: 1px solid #d4d4d4;
  background: #006fff;
}

.rows > .memory, #hex-header > div:nth-of-type(2), .multitab > .tabs > div{
  width: 65px;
  line-height: 0;
  padding: 15px 0px;
  text-align: center;
  font-size: 13px;
  color: #404040;
  font-weight: bold;
}

.rows > .memory{
  background: #e4e4e4;
  border-right: 1px solid #c3c3c3;
}

.rows > .instruction, #hex-header > div:nth-of-type(3){
  position: relative;
  flex: 1;
  line-height: 0;
  padding: 15px 12px;
  text-align: left;
  font-size: 13px;
  color: #404040;
  font-weight: bold;
}

.rows > .instruction{
  background-color: white;
}

#hex-header > div:nth-of-type(2) {
  border-right: 1px solid #d4d4d4 !important;
  border-left: 1px solid #d4d4d4 !important;
}

.rows:first-child > .instruction::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #006fff transparent transparent;
}

.tabs{
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  display: flex;
}

#registers{
  margin-top: 20px;
}

.tabs > div.selected{
  background: #0070ff;
  color: white;
}

.tabs > div{
  border-left: 1px solid #efefef;
  border-right: 1px solid #d4d4d4;
  cursor: pointer;
}

.table{
  display: flex;
  flex-direction: column;
}

.table > .header, .table .row{
  display: flex;
  border-bottom: 1px solid #d4d4d4;
}

.table > .header > div{
  background: #f5f5f5;
}

#header-hex{
  height: 50px;
}

.offset_table{
  width: 50px !important;
  flex: auto !important;
  background: #0070ff !important;
  color: white !important;
}

.table .row > div, .table > .header > div{
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #d4d4d4;
  flex: 1;
  text-align: left;
  font-size: 12px;
  color: #404040;
  font-weight: bold;
}
