body, html{ padding: 0; margin: 0; width: 100%; height: 100%; }

body{
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.hide{ display: none !important; }

/* Globals */
button{
  border: 1px solid #d4d4d4;
  background: #f3f3f3;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #444;
}

/**** Table ****/

.table{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.table .row{
  flex: 1;
}

.table > .header, .table .row{
  display: flex;
  border-bottom: 1px solid #d4d4d4;
}

.table > .header > div{
  background-color: #f5f5f5;
}

.table_container{
  display: flex;
  flex: 1;
  flex-direction: column;
}


.table .row > div, .table > .header > div:not(.blue-cell){
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: left;
  font-size: 12px;
  color: #404040;
  font-weight: bold;
}

.table .row > div:not(:last-of-type), .table > .header > div:not(.blue-cell):not(:last-of-type){
  border-right: 1px solid #d4d4d4;
}

/**** End Table ****/
/**** Tabs ****/

.multitab{
  display: flex;
  flex-direction: column;
}

.multitab > .tabs{
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  display: flex;
}

.multitab > .tabs > div{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #efefef;
  border-right: 1px solid #d4d4d4;
  cursor: pointer;
}

.multitab > .tabs > div.selected{
  background: #0070ff;
  color: white;
}

.multitab > .tab_container{
  flex: 1;
  display: flex;
  flex-direction: column;
}

/**** End Tabs ****/

#viewer{
  outline: 3px solid rgba(0, 0, 0, 0.1);
  border: 1px solid #d4d4d4;
  background: white;
  width: 900px;
  display: flex;
}

#left-viewer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 750px;
  border-right: 4px solid #d4d4d4;
}

.current_hex{
  background: #296ec5 !important;
  color: white !important;
}

#load-memory{
  line-height: 0;
  background: #0070ff;
  width: 100%;
  padding: 25px 0px;
  border: 0;
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#load-memory:hover{
  background: #1469d8;
}

/**** Instruction Viewer ****/

#instruction-viewer{
  display: flex;
  flex-direction: column;
  width: 230px;
  border: 1px solid #d4d4d4;
  margin: 20px 0;
}

#instruction-header{
  display: flex;
  height: 30px;
  background: #f3f3f3;
}

#instruction-header > div:nth-of-type(3){
  position: relative;
  flex: 1;
}

#instruction-header > div:nth-of-type(2){
  width: 65px;
}

#instruction-container{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#instruction-container > .row > .instruction{
  background-color: white;
  position: relative;
  flex: 1;
}

#instruction-container > .row > .offset{
  position: relative;
  color: white !important;
  border-right: 1px solid #d4d4d4;
  background: #006fff;
}

#instruction-container > .row > .opcode{
  width: 65px;
  background: #e4e4e4;
  border-right: 1px solid #c3c3c3;
}

#instruction-container > .row:first-child > .instruction::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #006fff transparent transparent;
}

.arrow-jump{
  position: absolute;
  right: 76px;
  bottom: 50%;
  border-left: 1px solid #737373;
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  z-index: 9;
}

.jump-top:after, .jump-bottom:after{
  content: "";
  position: absolute;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 5px;
  border-color: transparent transparent transparent white;
}

.jump-top:after{ top: -7px; }
.jump-bottom:after{ bottom: -7px; }

.jump-top:before, .jump-bottom:before {
  content: "";
  position: absolute;
  right: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 7px;
  border-color: transparent transparent transparent #737373;
}

.jump-top:before{ top: -8px; }
.jump-bottom:before{ bottom: -8px; }

.arrow-top:after{
  top: 0;
}

.arrow-bottom:before{
  bottom: 0;
}

/**** Instruction Viewer ****/

/**** Hex Viewer *****/
#header-hex{
  height: 50px;
}

#hex-values > .row > .offset_table:first-of-type{
  width: 59px;
  flex: none !important;
}

#registers{
  width: 100%;
  height: 80px;
}

/* Buttons */
#instruction-buttons{
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin: 20px 0 0 0;
}

#number_skip{
  box-shadow: 3px 3px 0px #d4d4d4 inset;
  width: 55px;
  border: 1px solid #d4d4d4;
  background: white;
  border-radius: 3px;
  padding: 0 0 0 10px;
}

#play{
  padding: 10px 15px 10px 8px !important;
}

.stop:before { content: '\e802' !important; }

#buttons > button:hover{
  background-color: #e2e2e2;
}

.blue-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background-color: #0070ff !important;
  color: white;
  font-size: 14px;
}

/* Stack */
#stack-viewer{
  border-left:  4px solid #d4d4d4;
  display: flex;
  flex-direction: column;
}

#stack-values{
  border-top: 1px solid #d4d4d4;
}

.stack-name{
  border-bottom: 1px solid #d4d4d4;
  height: 50px;
}

#stack-values{
  flex: 1;
}
